<h2>Lista de perfis</h2>
<a class="btn btn-primary" routerLink="/perfil-add">Novo Perfil</a>  

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Nome
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>

    <tr *ngFor="let perfil of perfis; let i = index">
        <td>
            {{perfil._id}}
        </td>
        <td>
            {{perfil.nome}}
        </td>
        <td>
            <a class="btn btn-primary" routerLink="/perfil-edit/{{perfil._id}}">Editar</a>
        </td>
        <td>
            <button class="btn btn-danger" (click)="deletar(perfil._id, i)">Deletar</button>
        </td> 
    </tr>
</table>
